<div class="container-sm" id="tip-list">
    <h1>Welcome to your profile</h1>
    <h2>Favourite stories: </h2>
    <div class="row">
        {{#if favourites}}
        {{#each favourites}}
        <div class="col-md-6 col-lg-3" id="card-area">
            <div class="card">
                <img class="card-img-top" src="{{this.imageUrl}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="title">{{this.title}}</h5>
                    <h6 class="country">{{this.country}}</h6>
                    <h6 class="city">{{this.city}}</h6>
                    <p class="description">Description: {{this.description}}</p>
                    <p class="category">Categories: {{this.category}}</p>
                    <a href="/tips/tip/{{this._id}}" class="btn btn-sm btn-outline-dark">View details</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>
</section>