<section class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-2 container-sm" id="profile">
    <h1>Welcome to your profile</h1>
    <h2>Favourite stories: </h2>
    <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="{{favourites.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="country">{{favourites.country}}</h5>
            <h5 class="city">{{favourites.city}}</h5>
            <p class="description">Description: {{favourites.description}}</p>
            <p class="category">Categories: {{favourites.category}}</p>
        </div>
    </div>
</section>