<div class="container-sm" id="tip-list">
    <h1>Discover all the amazing stories of our members</h1>
    <div class="row">
        {{#each tipsArr}}
        <div class="col-md-6 col-lg-3" id="card-area">
            <div class="card">
                <img class="card-img-top" src="{{this.imageUrl}}" alt="story image">
                <div class="card-body">
                    <h5 class="title">{{this.title}}</h5>
                    <h6 class="country">{{this.country}}</h6>
                    <h6 class="city">{{this.city}}</h6>
                    <p class="description">Description: {{this.description}}</p>
                    <p class="category">Categories: {{category}}</p>
                    <form class="btn btn-primary" id="edit-button">
                        <a href="/tips/tip/{{this._id}}" class="btn btn-primary">View details</a>
                    </form>
                    <form class="btn btn-primary" action="/tips/{{this._id}}/delete" method="POST" id="delete-button">
                        <button class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>