<section class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-2 container-sm" id="tip-details">
<h1>Discover all of our amazing tips</h1>

{{#each tipsArr}}
   <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="country">{{this.country}}</h5>
            <h5 class="city">{{this.city}}</h5>
            <p class="description">Description: {{this.description}}</p>
            <p class="category">Categories: {{category}}</p>
            <a href="/tips/tip/{{this._id}}" class="btn btn-primary">View details</a>
            <form action="/tips/{{this._id}}/delete" method="POST">
                <button>Delete</button>
            </form>
        </div>
    </div>
{{/each}}
</section>